/* tai su dung */
.sidebar .text {
  font-size: 18px;
  color: var(--color-text-primary);
  transition: all 0.4s ease;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
  pointer-events: none;
}

.sidebar .icon {
  font-size: 18px;
  color: var(--color-text-primary);
  min-width: 60px;
  transition: all 0.4s ease;
}

.sidebar.close .icon {
  min-width: 80px;
  font-size: 20px;
}

/* end tai su dung */

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: var(--color-secondary);
  box-shadow: 0px 3px 5px 9px var(--color-shadow);
  z-index: 999;
  background-color: var(--color-bg-sidebar);
  transition: all 0.4s ease;
}

.sidebar.close {
  width: 80px;
}

.sidebar .sidebar-header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 5px 0px;
  box-shadow: 0px 0px 5px 0px var(--color-shadow);
}

.sidebar .sidebar-header a {
  height: 100%;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar.close .sidebar-header a {
  min-width: 85px;
}

.sidebar .sidebar-header a img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 12px;
  transition: all 0.4s ease;
}

.sidebar.close .sidebar-header a img {
  opacity: 0;
}

.sidebar .sidebar-header .header-title {
  font-weight: 600;
  white-space: nowrap;
}

.sidebar .sidebar-header .icon-toggle {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: var(--color-hover-primary);
  top: 50%;
  right: -14px;
  transform: translateY(-50%) rotate(-180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--color-bg-sidebar);
  font-weight: 600;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease;
}

.sidebar.close .sidebar-header .icon-toggle {
  width: 40px;
  height: 40px;
  transform: translate(50%, -50%);
  right: 50%;
  border-radius: 8px;
}

/*  nav-link */

.sidebar .sidebar-nav {
  height: 100%;
  padding-top: 20px;
}

.sidebar .sidebar-nav ul {
  display: flex;
  flex-direction: column;
}

.sidebar li .nav-box {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

.sidebar .sidebar-nav ul li .nav-box .arrow {
  position: absolute;
  font-size: 18px;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 999;
  color: var(--color-text-primary);
  transition: all 0.4s ease;
}

.nav-box:has(.arrow:hover) .nav-link {
  background-color: var(--color-hover-primary);
}

.nav-box:has(.arrow:hover) .text,
.nav-box:has(.arrow:hover) .icon,
.nav-box:has(.arrow:hover) .arrow {
  color: var(--color-bg-sidebar) !important;
}

.sidebar.close .arrow {
  opacity: 0;
  pointer-events: none;
}

.sidebar ul li .nav-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
}

.sidebar ul li .nav-link:hover {
  background-color: var(--color-hover-primary);
}

.sidebar li .nav-link:hover .text,
.sidebar li .nav-link:hover .icon,
.sidebar li .nav-link:hover ~ .arrow {
  color: var(--color-bg-sidebar) !important;
}

.sidebar .nav-item .sub-menu {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  display: none;
  padding: 0;
  margin: 0;
}

.sidebar .nav-item .sub-menu.show-sub-menu {
  display: flex;
}

.sidebar .sub-menu li {
  width: 100%;
}
.sidebar .sub-menu li a {
  font-size: 16px;
  width: 100%;
  display: block;
  padding-left: 60px;
  padding: 10px;
  padding-left: 60px;
}

.sidebar .sub-menu li a:hover {
  background-color: var(--color-hover-primary);
  color: var(--color-bg-sidebar);
}

/* code toggle-switch */

.mode ul{
  margin: 0;
  padding : 0 ;
}

.mode .toggle-switch {
  background-color: var(--color-border-hr);
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  position: relative;
}

.mode .moon-sun {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
}

.mode .moon-sun .icon {
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.mode .toggle-switch .mode-switch {
  position: absolute;
  height: 100%;
  min-width: 80px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mode .toggle-switch .mode-switch .switch {
  width: 45px;
  height: 22px;
  background-color: var(--color-bg-sidebar);
  border-radius: 12px;
  position: relative;
  cursor: pointer;
}

.mode .toggle-switch .mode-switch .switch::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: var(--color-bg-secondary);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 3px;
}

.mode .sun {
  opacity: 0;
}

/* code text-container */
.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.text-container {
  position: relative;
  left: 250px;
  transition: all 0.4s ease;
  background-color: var(--color-bg-primary);
  width: calc(100% - 250px);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 30px;
}

.sidebar.close ~ .text-container {
  left: 80px;
  width: calc(100% - 80px);
}

.header {
  background-color: var(--color-bg-sidebar);
  height: 65px;
  align-items: center;
  width: calc(100% - 250px);
  top: 0;
  left: 250px;
  position: relative;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid #0000004a;
  padding: 0px 40px;
}

.sidebar.close ~ .header {
  left: 80px;
  width: calc(100% - 80px);
}

.text-container .main-body p {
  font-size: 50px;
}
