/* product */

.text {
  color: var(--color-text-primary);
}

.box-menu {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: var(--color-bg-sidebar);
  width: 100%;
  padding: 0px 20px;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  flex-shrink: 0;
  z-index: 999;
}

.box-menu h4 {
  color: var(--color-text-primary);
}

.button-box-menu {
  background-color: var(--color-button);
  color: var(--color-bg-sidebar);
  padding: 5px 20px;
  border-radius: 5px;
  border: 0;
  opacity: 0.9;
  transition: all 0.3s ease;
}

.button-box-menu:hover {
  opacity: 1;
  border-radius: 12px;
}

.container-wraper {
  background-color: var(--color-bg-sidebar);
  border-radius: 6px;
  overflow: hidden;
}

.container-wraper .container-menu {
  padding: 20px 10px;
}

.container-wraper .container-header-item {
  background-color: var(--color-bg-secondary);
  padding: 10px 0px;
}

.container-wraper .container-header-item div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
}

.container-wraper .container-list-item .box-item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #00000048;
  height: 90px;
  transition: all 0.4s ease;
  overflow: hidden;
}

.container-wraper .container-list-item .box-item:hover {
  background-color: var(--color-border-hr);
}

.container-wraper .container-list-item .box-item:hover .box-sub-menu {
  opacity: 1;
}

.container-wraper .box-item .box-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-wraper .box-item .title {
  text-align: start;
  width: 100%;
  padding: 0;
  transition: all 0.4s ease;
}

.container-wraper .box-item .box-title .box-sub-menu {
  display: flex;
  gap: 10px;
  padding: 0;
  transition: all 0.4s ease;
  opacity: 0;
}

.container-wraper .box-item .box-title .box-sub-menu button,
a {
  background: none;
  border: none;
  font-size: 12px;
  white-space: nowrap;
}

.container-wraper .box-item .box-title .box-sub-menu .btn-detail {
  color: var(--color-button-detail);
}

.container-wraper .box-item .box-title .box-sub-menu .btn-revise {
  color: var(--color-button-revise);
}

.container-wraper .box-item .box-title .box-sub-menu .btn-delete {
  color: var(--color-button-delete);
}

.container-wraper .box-item .box-title .box-sub-menu .btn-active {
  color: var(--color-button-active);
}

.container-wraper .box-item .box-title .box-sub-menu .btn-inactive {
  color: var(--color-button-inactive);
}

.container-wraper .container-list-item .box-item img {
  width: 60px;
  height: auto;
  object-fit: contain;
}

.container-wraper .container-list-item div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 15px;
}

.container-wraper .status-item {
  white-space: nowrap;
  padding: 3px 10px;
  background-color: var(--color-button-active);
  border-radius: 12px;
  font-size: 12px;
  color: var(--color-bg-sidebar);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-wraper .status-item.inactive {
  background-color: rgb(214, 62, 62);
}

/* product */

.container-wraper .box-menu .text {
  font-size: 14px;
  opacity: 0.6;
}

.container-wraper .box-menu {
  display: flex;
  align-items: center;
  gap: 6px;
  border: 1px solid var(--color-bg-secondary);
  padding: 0 10px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  z-index: 998;
}

.container-wraper .box-menu .box-default {
  border: none;
  background: none;
  outline: none;
  width: 100%;
  height: 100%;
}

.container-wraper .box-menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* css show alert */
.show-alert {
  background-color: rgb(169, 232, 74);
  position: sticky;
  color: var(--color-bg-sidebar);
  font-size: 16px;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  opacity: 1;
}

.show-alert [close-alert] {
  cursor: pointer;
}

.show-alert.success {
  background-color: rgb(169, 232, 74);
}

.show-alert.warning {
  background-color: rgba(232, 232, 56, 0.965);
}

.show-alert.error {
  background-color: rgb(221, 58, 58);
}

.show-alert.close-alert {
  display: none;
}
/* end css show alert */

/* css role */
.card {
  border: none;
  border-radius: none;
}
/* end css role */

/* header */

.header {
  align-items: center;
  justify-content: space-between;
}

.header .box-header-profile {
  right: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid var(--color-border-hr);
  height: 100%;
  padding-left: 10px;
  transition: all 0.3s ease;
}

.header .box-header-profile:hover .user-name {
  border-bottom: 2px solid #000; /* Gạch chân dày 2px, màu đen */
}

.header .box-header-profile .user-name {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 600;
  color: var(--color-text-primary);
  transition: all 0.3s ease;
}

.header .user-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

/* end header */
