.header

    a(href=`/admin/account/profile/${user._id}` class = "box-header-profile" ) 
      span(class = "user-name text") #{user.fullName}
      img(class = "user-avatar" src= (user.avatar != "" ? user.avatar : "/admin/images/default-avatar.webp") alt="User Avatar")