aside.sidebar 
  .sidebar-header 
    a(href="" header-logo)
      img(src="/admin/images/logo.jpg" alt="")
    span(class = "header-title text") Phung Van Duy 
    i(class = "bxr bx-chevron-right icon-toggle")

  nav.sidebar-nav 
    ul.nav-link 
      li.nav-item 
        .nav-box 
          a.nav-link(href="")
            i(class="fa-solid fa-house-chimney icon")
            span(class = "text link-name") dashboard

      li.nav-item
        .nav-box 
          a.nav-link(href="")
            <i class="fa-solid fa-calendar icon"></i>
            span(class = "text link-name") Products
          <i class='bx  bx-caret-down arrow ' ></i> 
        ul.sub-menu
          li
            a(href="" class= "text") List product
          li
            a(href="" class= "text") Category 
          li
            a(href="" class= "text") Create
      li.nav-item 
        .nav-box 
          a.nav-link(href="")
            i(class="fa-solid fa-house-chimney icon")
            span(class = "text link-name") dashboard
      li.nav-item 
        .nav-box 
          a.nav-link(href="")
            i(class="fa-solid fa-house-chimney icon")
            span(class = "text link-name") dashboard

  .mode 
    ul
      li.nav-item 
        .nav-box 
          a.nav-link(href="")
            <i class="fa-solid fa-right-from-bracket icon"></i>
            span(class = "text link-name") Logout

    .toggle-switch
      .moon-sun 
        i(class = "fa-solid fa-moon icon moon")
        i(class = "bx bx-sun icon sun")
      span(class = "text-switch") Dark mode 
      .mode-switch  
        .switch 







