.header 
  .container 
    .header-wraper 
      .header-logo 
        img(src="/client/images/logo.png" alt="" class = "image-logo")
        span(class = "title text") Duy phung
      .header-search 
        i(class = "fa-solid fa-magnifying-glass icon-search text")
        input(type="text" placeholder = "Search" class = "text")
      .header-user 
        ul
          li 
            a(href="") 
              i(class = "fa-regular fa-user text")
          li  
            a(href="")
              i(class = "fa-solid fa-cart-shopping text")


