extends ../../layout/layoutDefault.pug
include ../../mixins/header-menu.pug
include ../../mixins/box-item.pug
include ../../mixins/box-alert.pug

block main 
  +header-menu("Danh sách sản phẩm" , "/admin/product/create") 

  +box-alert-success(5000)
  +box-alert-error(5000)

  +box-item(listProduct ,"product" ,"sản phẩm" ,  keySearch)

  form(action=""
    method = "post"
    data-path = "/admin/product/change-status"
    id = "form-change-status"
    ) 
  
  form(action=""
    method = "post"
    data-path = "/admin/product/delete"
    id = "form-delete"
    )

  form(
    action="/admin/product/change-multi?_method=PATCH", 
    method="post"
    id = "form-change-multi"
  ) 
    input(
      type = "text"
      name = "listIdItem"
      class  = "d-none"
    )