extends ../../layout/layoutDefault.pug
include ../../mixins/header-menu.pug
include ../../mixins/box-item.pug

block main 
  +header-menu("Tảo sản phẩm " , "/admin/product/create") 

  +box-item(listProduct , "sản phẩm")

  form(action=""
    method = "post"
    data-path = "/admin/product/change-status"
    id = "form-change-status"
    ) 