extends ../../layout/layoutDefault.pug
include ../../mixins/header-menu.pug
include ../../mixins/box-item.pug
include ../../mixins/box-alert.pug

block main 
  +header-menu("Tảo sản phẩm " , "/admin/product/create") 

  +box-alert-success(5000)
  +box-alert-error(5000)

  +box-item(listProduct , "sản phẩm" ,  keySearch)

  form(action=""
    method = "post"
    data-path = "/admin/product/change-status"
    id = "form-change-status"
    ) 