extends ../../layout/layoutDefault.pug

block main 
  h1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis expedita iure, nulla nesciunt quibusdam placeat minus, animi laborum ab eos asperiores aspernatur excepturi assumenda, similique amet harum corrupti ad doloremque.
  //- h1  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo a deleniti itaque temporibus, nesciunt ex vero nobis nostrum, enim aperiam quisquam odit omnis. Nisi saepe ipsam ex modi, delectus itaque.
