doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    link(rel="stylesheet" href="/admin/css/base.css")
    link(rel="stylesheet" href="/admin/css/sidebar.css")
    link(rel="stylesheet" href="/admin/css/style.css")
    title #{title}
  body 
    if role.permissions 
      .main-container 
        include ../partials/sidebar.pug
        .text-container 
          include ../partials/header.pug
          block main 


        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js") 
        script(src="/admin/js/script.js")
        script(src="/tinymce/tinymce.min.js")
        script(src="/admin/js/tinymce-config.js")
    else  
      h1 không có quyền truy cập trang này!
