extends ../../layout/layoutDefault.pug
include ../../mixins/box-alert.pug
include ../../mixins/header-menu.pug
include ../../mixins/box-item-account.pug

block main 

  +box-alert-success(5000)
  +box-alert-error(5000)

  +header-menu("Danh sách tài khoản" , "/admin/account/create")

  +box-item-account(accounts)

