extend ../../layout/layoutDefault.pug

block main 
  h1  Dashbboard .
  p  
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero molestiae blanditiis quis pariatur nostrum omnis ratione consequatur fuga numquam ipsam, possimus doloribus, iste nisi nobis molestias sint cum. Esse, eius!
  p  
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero molestiae blanditiis quis pariatur nostrum omnis ratione consequatur fuga numquam ipsam, possimus doloribus, iste nisi nobis molestias sint cum. Esse, eius!
  p  
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero molestiae blanditiis quis pariatur nostrum omnis ratione consequatur fuga numquam ipsam, possimus doloribus, iste nisi nobis molestias sint cum. Esse, eius!